<li>
	{{burger_name}}

	<button class="change-devour btn btn-secondary btn-sm" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}NOT EATEN YET!{{/if}}
	</button>
</li>
